<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="dosbox_cpu_cycles_0" values="0|1|2|3|4|5|6|7|8|9" default="0"/>
		<setting label="30002" type="select" id="dosbox_cpu_cycles_1" values="0|1|2|3|4|5|6|7|8|9" default="0"/>
		<setting label="30003" type="select" id="dosbox_cpu_cycles_2" values="1|2|3|4|5|6|7|8|9|0" default="1"/>
		<setting label="30004" type="select" id="dosbox_cpu_cycles_3" values="0|1|2|3|4|5|6|7|8|9" default="0"/>
		<setting label="30005" type="select" id="dosbox_emulated_mouse" values="enable|disable" default="enable"/>
		<setting label="30006" type="select" id="dosbox_machine_type" values="vgaonly|svga_s3|svga_et3000|svga_et4000|svga_paradise|hercules|cga|tandy|pcjr|ega" default="vgaonly"/>
	</category>
</settings>
