<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="dosbox_cpu_cycles_0" values="0|1|2|3|4|5|6|7|8|9" default="0"/>
		<setting label="30002" type="select" id="dosbox_cpu_cycles_1" values="0|1|2|3|4|5|6|7|8|9" default="0"/>
		<setting label="30003" type="select" id="dosbox_cpu_cycles_2" values="1|2|3|4|5|6|7|8|9|0" default="1"/>
		<setting label="30004" type="select" id="dosbox_cpu_cycles_3" values="0|1|2|3|4|5|6|7|8|9" default="0"/>
		<setting label="30005" type="select" id="dosbox_emulated_mouse" values="enable|disable" default="enable"/>
		<setting label="30006" type="select" id="dosbox_machine_type" values="vgaonly|svga_s3|svga_et3000|svga_et4000|svga_paradise|hercules|cga|tandy|pcjr|ega" default="vgaonly"/>
		<setting label="30007" type="select" id="dosbox_mapper_a" values="null|1|2|3|4|5|6|7|8|9|0|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z|F1|F2|F3|F4|F5|F6|F7|F8|F9|F10|F11|F12|Escape|Tab|Bkspace|Enter|Space|Left Alt|Right Alt|Left Ctrl|Right Ctrl|Left Shift|Right Shift|Caps Lock|Scroll Lock|Num Lock-|=|\|[|]|;|&quot;|.|,|/|SysRq|PrtScn|Pause|Insert|Home|Page Up|Page Down|Delete|End|Left|Up|Down|Right|KeyPad 1|KeyPad 2|KeyPad 3|KeyPad 4|KeyPad 5|KeyPad 6|KeyPad 7|KeyPad 8|KeyPad 9|KeyPad 0|KeyPad /|KeyPad *|KeyPad -|KeyPad +|KeyPad Enter|KeyPad ." default="null"/>
		<setting label="30008" type="select" id="dosbox_mapper_b" values="null|1|2|3|4|5|6|7|8|9|0|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z|F1|F2|F3|F4|F5|F6|F7|F8|F9|F10|F11|F12|Escape|Tab|Bkspace|Enter|Space|Left Alt|Right Alt|Left Ctrl|Right Ctrl|Left Shift|Right Shift|Caps Lock|Scroll Lock|Num Lock-|=|\|[|]|;|&quot;|.|,|/|SysRq|PrtScn|Pause|Insert|Home|Page Up|Page Down|Delete|End|Left|Up|Down|Right|KeyPad 1|KeyPad 2|KeyPad 3|KeyPad 4|KeyPad 5|KeyPad 6|KeyPad 7|KeyPad 8|KeyPad 9|KeyPad 0|KeyPad /|KeyPad *|KeyPad -|KeyPad +|KeyPad Enter|KeyPad ." default="null"/>
		<setting label="30009" type="select" id="dosbox_mapper_down" values="null|1|2|3|4|5|6|7|8|9|0|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z|F1|F2|F3|F4|F5|F6|F7|F8|F9|F10|F11|F12|Escape|Tab|Bkspace|Enter|Space|Left Alt|Right Alt|Left Ctrl|Right Ctrl|Left Shift|Right Shift|Caps Lock|Scroll Lock|Num Lock-|=|\|[|]|;|&quot;|.|,|/|SysRq|PrtScn|Pause|Insert|Home|Page Up|Page Down|Delete|End|Left|Up|Down|Right|KeyPad 1|KeyPad 2|KeyPad 3|KeyPad 4|KeyPad 5|KeyPad 6|KeyPad 7|KeyPad 8|KeyPad 9|KeyPad 0|KeyPad /|KeyPad *|KeyPad -|KeyPad +|KeyPad Enter|KeyPad ." default="null"/>
		<setting label="30010" type="select" id="dosbox_mapper_l" values="null|1|2|3|4|5|6|7|8|9|0|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z|F1|F2|F3|F4|F5|F6|F7|F8|F9|F10|F11|F12|Escape|Tab|Bkspace|Enter|Space|Left Alt|Right Alt|Left Ctrl|Right Ctrl|Left Shift|Right Shift|Caps Lock|Scroll Lock|Num Lock-|=|\|[|]|;|&quot;|.|,|/|SysRq|PrtScn|Pause|Insert|Home|Page Up|Page Down|Delete|End|Left|Up|Down|Right|KeyPad 1|KeyPad 2|KeyPad 3|KeyPad 4|KeyPad 5|KeyPad 6|KeyPad 7|KeyPad 8|KeyPad 9|KeyPad 0|KeyPad /|KeyPad *|KeyPad -|KeyPad +|KeyPad Enter|KeyPad ." default="null"/>
		<setting label="30011" type="select" id="dosbox_mapper_left" values="null|1|2|3|4|5|6|7|8|9|0|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z|F1|F2|F3|F4|F5|F6|F7|F8|F9|F10|F11|F12|Escape|Tab|Bkspace|Enter|Space|Left Alt|Right Alt|Left Ctrl|Right Ctrl|Left Shift|Right Shift|Caps Lock|Scroll Lock|Num Lock-|=|\|[|]|;|&quot;|.|,|/|SysRq|PrtScn|Pause|Insert|Home|Page Up|Page Down|Delete|End|Left|Up|Down|Right|KeyPad 1|KeyPad 2|KeyPad 3|KeyPad 4|KeyPad 5|KeyPad 6|KeyPad 7|KeyPad 8|KeyPad 9|KeyPad 0|KeyPad /|KeyPad *|KeyPad -|KeyPad +|KeyPad Enter|KeyPad ." default="null"/>
		<setting label="30012" type="select" id="dosbox_mapper_r" values="null|1|2|3|4|5|6|7|8|9|0|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z|F1|F2|F3|F4|F5|F6|F7|F8|F9|F10|F11|F12|Escape|Tab|Bkspace|Enter|Space|Left Alt|Right Alt|Left Ctrl|Right Ctrl|Left Shift|Right Shift|Caps Lock|Scroll Lock|Num Lock-|=|\|[|]|;|&quot;|.|,|/|SysRq|PrtScn|Pause|Insert|Home|Page Up|Page Down|Delete|End|Left|Up|Down|Right|KeyPad 1|KeyPad 2|KeyPad 3|KeyPad 4|KeyPad 5|KeyPad 6|KeyPad 7|KeyPad 8|KeyPad 9|KeyPad 0|KeyPad /|KeyPad *|KeyPad -|KeyPad +|KeyPad Enter|KeyPad ." default="null"/>
		<setting label="30013" type="select" id="dosbox_mapper_right" values="null|1|2|3|4|5|6|7|8|9|0|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z|F1|F2|F3|F4|F5|F6|F7|F8|F9|F10|F11|F12|Escape|Tab|Bkspace|Enter|Space|Left Alt|Right Alt|Left Ctrl|Right Ctrl|Left Shift|Right Shift|Caps Lock|Scroll Lock|Num Lock-|=|\|[|]|;|&quot;|.|,|/|SysRq|PrtScn|Pause|Insert|Home|Page Up|Page Down|Delete|End|Left|Up|Down|Right|KeyPad 1|KeyPad 2|KeyPad 3|KeyPad 4|KeyPad 5|KeyPad 6|KeyPad 7|KeyPad 8|KeyPad 9|KeyPad 0|KeyPad /|KeyPad *|KeyPad -|KeyPad +|KeyPad Enter|KeyPad ." default="null"/>
		<setting label="30014" type="select" id="dosbox_mapper_select" values="null|1|2|3|4|5|6|7|8|9|0|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z|F1|F2|F3|F4|F5|F6|F7|F8|F9|F10|F11|F12|Escape|Tab|Bkspace|Enter|Space|Left Alt|Right Alt|Left Ctrl|Right Ctrl|Left Shift|Right Shift|Caps Lock|Scroll Lock|Num Lock-|=|\|[|]|;|&quot;|.|,|/|SysRq|PrtScn|Pause|Insert|Home|Page Up|Page Down|Delete|End|Left|Up|Down|Right|KeyPad 1|KeyPad 2|KeyPad 3|KeyPad 4|KeyPad 5|KeyPad 6|KeyPad 7|KeyPad 8|KeyPad 9|KeyPad 0|KeyPad /|KeyPad *|KeyPad -|KeyPad +|KeyPad Enter|KeyPad ." default="null"/>
		<setting label="30015" type="select" id="dosbox_mapper_start" values="null|1|2|3|4|5|6|7|8|9|0|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z|F1|F2|F3|F4|F5|F6|F7|F8|F9|F10|F11|F12|Escape|Tab|Bkspace|Enter|Space|Left Alt|Right Alt|Left Ctrl|Right Ctrl|Left Shift|Right Shift|Caps Lock|Scroll Lock|Num Lock-|=|\|[|]|;|&quot;|.|,|/|SysRq|PrtScn|Pause|Insert|Home|Page Up|Page Down|Delete|End|Left|Up|Down|Right|KeyPad 1|KeyPad 2|KeyPad 3|KeyPad 4|KeyPad 5|KeyPad 6|KeyPad 7|KeyPad 8|KeyPad 9|KeyPad 0|KeyPad /|KeyPad *|KeyPad -|KeyPad +|KeyPad Enter|KeyPad ." default="null"/>
		<setting label="30016" type="select" id="dosbox_mapper_up" values="null|1|2|3|4|5|6|7|8|9|0|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z|F1|F2|F3|F4|F5|F6|F7|F8|F9|F10|F11|F12|Escape|Tab|Bkspace|Enter|Space|Left Alt|Right Alt|Left Ctrl|Right Ctrl|Left Shift|Right Shift|Caps Lock|Scroll Lock|Num Lock-|=|\|[|]|;|&quot;|.|,|/|SysRq|PrtScn|Pause|Insert|Home|Page Up|Page Down|Delete|End|Left|Up|Down|Right|KeyPad 1|KeyPad 2|KeyPad 3|KeyPad 4|KeyPad 5|KeyPad 6|KeyPad 7|KeyPad 8|KeyPad 9|KeyPad 0|KeyPad /|KeyPad *|KeyPad -|KeyPad +|KeyPad Enter|KeyPad ." default="null"/>
		<setting label="30017" type="select" id="dosbox_mapper_x" values="null|1|2|3|4|5|6|7|8|9|0|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z|F1|F2|F3|F4|F5|F6|F7|F8|F9|F10|F11|F12|Escape|Tab|Bkspace|Enter|Space|Left Alt|Right Alt|Left Ctrl|Right Ctrl|Left Shift|Right Shift|Caps Lock|Scroll Lock|Num Lock-|=|\|[|]|;|&quot;|.|,|/|SysRq|PrtScn|Pause|Insert|Home|Page Up|Page Down|Delete|End|Left|Up|Down|Right|KeyPad 1|KeyPad 2|KeyPad 3|KeyPad 4|KeyPad 5|KeyPad 6|KeyPad 7|KeyPad 8|KeyPad 9|KeyPad 0|KeyPad /|KeyPad *|KeyPad -|KeyPad +|KeyPad Enter|KeyPad ." default="null"/>
		<setting label="30018" type="select" id="dosbox_mapper_y" values="null|1|2|3|4|5|6|7|8|9|0|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z|F1|F2|F3|F4|F5|F6|F7|F8|F9|F10|F11|F12|Escape|Tab|Bkspace|Enter|Space|Left Alt|Right Alt|Left Ctrl|Right Ctrl|Left Shift|Right Shift|Caps Lock|Scroll Lock|Num Lock-|=|\|[|]|;|&quot;|.|,|/|SysRq|PrtScn|Pause|Insert|Home|Page Up|Page Down|Delete|End|Left|Up|Down|Right|KeyPad 1|KeyPad 2|KeyPad 3|KeyPad 4|KeyPad 5|KeyPad 6|KeyPad 7|KeyPad 8|KeyPad 9|KeyPad 0|KeyPad /|KeyPad *|KeyPad -|KeyPad +|KeyPad Enter|KeyPad ." default="null"/>
	</category>
</settings>
